$tile-border-color: #78767e;
$tile-hover-color: #4C4B50;
$tile-font-color: #727173;
$tile-font-color-active: #ececec;

$tile-selected-color: #005CF7;
$tile-selected-hover-color: lighten($tile-selected-color, 5%);

$tile-height: 130px;

.tileGrid {
    border: 1px solid $tile-border-color;
    border-right: none;
    border-bottom: none;
}
.tileHeight {
    height: $tile-height;
}
.tile{
    border: 1px solid $tile-border-color;
    border-left: none;
    border-top: none;
    cursor: pointer;
    font-size: .8em;
    color: $tile-font-color;
    height: $tile-height;

    .icon {
        font-size: 2em;
        padding-bottom: 0px;
    }
}
.tile:hover {
    background-color: $tile-hover-color;
    color: $tile-font-color-active;
}

.isSelected {
    background-color: $tile-selected-color;
    color: $tile-font-color-active;
}
.isSelected:hover {
    background-color: $tile-selected-hover-color;
}