@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

// Set your brand colors
$app-dark: #47474D;
$app-primary: #005CF7;

// Update Bulma's global variables
$family-sans-serif: "Josefin Sans", sans-serif;
$primary: $app-primary;
$dark: $app-dark;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-overflow-y: scroll;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
$column-gap: 1rem;
// box
$box-background-color: $app-dark;

// Import only what you need from Bulma
/*@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";*/

@import "../node_modules/bulma/bulma.sass";

body {
    min-height: 100vh;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}  


// fade animation. Used in React-Transition-Group
.fade-appear{
    transform: scale(.9);
    opacity: 0;
  }
.fade-appear-active{
    transform: scale(1);
    opacity: 1;
    transition: all 500ms ease-in;
}
.fade-appear-done {
    display: block !important;
}
.fade-enter{
    transform: scale(.9);
    opacity: 0;
  }
.fade-enter-active{
    transform: scale(1);
    opacity: 1;
    transition: all 500ms ease-in;
}

.fade-exit{
    opacity: 1;
}
.fade-exit.fade-exit-active{
    opacity: 0;
    transition: all 500ms ease-out;
}
.fade-exit-done {
    visibility: hidden;
}