$sm: 576px;

.leftPanel {
    background-color: transparent;
    transition: all 0.5s ease-in-out;
    .header{
        padding: 0px 1em;
        .headerBody{
            max-height: 13vh;
            padding: 1em;
        }
    }
    .menuToggleBtn {
        background-color: transparent;
        border: none;
        font-size: 1.2em;
    }
    .userName, .userAddr{
        color: white;
    }
    .userName{
        font-size: .7rem;
    }
    .userAddr{
        font-size: .5rem;
    }
    @media (min-width: $sm){
        .userName{
            font-size: .9rem;
        }
        .userAddr{
            font-size: .7rem;
        }
    }
}   

.logo {
    font-size: 1.7rem;
}
.subtitle {
    font-size: .6rem;
}

@media (min-width: $sm) {
    .logo {
        font-size: 2rem;
    }
    .subtitle {
        font-size: .7rem;
    }
}